.footer{
    padding:30px 10px;
    &__content{
        margin:0 auto ;
        &--socialMedia{
            text-align: center;
            background-color: #e7e6e2;
            padding: 25px 0;
            h4{
                font-size: 30px;
                margin-bottom: 0;
            }
            .social{
                >div{
                    display: inline-block;
                    margin: 5px;
                    span{
                        color:gray;
                    }
                }
            }
        }
        &--links{
            width: 80%;
            margin: 0 auto;
            @include flex;
            padding:25px 0 ;
            .subFooterLinks{
                width: 25%;
                @include breakpoint(xs){
                    width: 100%;
                    border-bottom:1px solid gray;
                    ul{
                        display: none;
                    }
                    .mobileOpen + ul{
                        display:block;
                    }
                }
                ul > li >a{
                    margin:5px 0;
                    display: block;
                    font-size: 14px;
                    font-weight: 300;
                }
                span{
                    font-size: 14px;
                    font-weight: 300;
                    margin:8px 0 ;
                    display: block;
                }
                form{
                    border:1px solid black;
                    input{
                        border:0;
                        outline:none;
                    }
                    input[type="text"]{
                        padding:8px 8px;
                        font-size: 12px;
                        width: 80%;
                        display: inline-block;
                    }
                    input[type="submit"]{
                        width: 8%;
                        padding:5px;
                        cursor: pointer;
                        display: inline-block;
                    }
                }
            }
        }
    }
}